streamlit
sqlalchemy
pathlib
python-dotenv
google-ai-generativelanguage==0.6.15
    # via google-generativeai
google-api-core==2.25.2
    # via
    #   google-ai-generativelanguage
    #   google-api-python-client
    #   google-generativeai
google-api-python-client==2.184.0
    # via google-generativeai
google-auth==2.41.1
    # via
    #   databricks-sdk
    #   google-ai-generativelanguage
    #   google-api-core
    #   google-api-python-client
    #   google-auth-httplib2
    #   google-genai
    #   google-generativeai
google-auth-httplib2==0.2.0
    # via google-api-python-client
google-genai==1.46.0
    # via rapa25
google-generativeai==0.8.5
    # via
    #   langchain-google-genai
    #   rapa25
googleapis-common-protos==1.70.0
